{% extends "news/components/base.html" %}
{% block content %}

<h1>All Animals</h1>
<span> 
    {% if user.is_authenticated %}
    {% if user.profile.shelter %}
    <a class="btn btn-success" href="{% url 'animals-create' %}" role="button">Add an animal</a>
    {% endif %}
    {% endif %}
</span>

{% if animals %}
<div class="row pt-4">
    {% for animal in animals %}
    <div class="col-sm-4">
        <div class="card mt-4">
            <div class="ratio ratio-1x1">
                <img class="img-thumbnail" style="object-fit: cover" src="{{ animal.image.url }}" alt="">
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ animal.name }}</h5>
                <div class="card-text">
                    <span>
                        {{ animal.species }}, {{ animal.age }}
                    </span>
                </div>
                <br>
                <a href="{{ animal.get_absolute_url }}" class="btn btn-primary">Animal details</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% else %}
<h2> No animals found! </h2>
{% endif %}

<br>


{% endblock content %}